@import url("https://fonts.googleapis.com/css2?family=Kreon:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital@0;1&family=Kreon:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth text-pretty antialiased;
  }
  * {
    @apply m-0 box-border border-border p-0;
  }
  body {
    @apply min-h-screen w-full max-w-[100vw] overflow-hidden overflow-y-auto bg-background font-jost text-white;
  }
  #root {
    @apply h-full w-full;
  }
}

/* FONTS */
@layer utilities {
  .fonts-logo {
    @apply bg-clip-text font-kreon text-lg font-bold sm:text-xl lg:text-2xl xl:text-3xl;
    background: linear-gradient(
        278deg,
        rgba(255, 255, 255, 0.475) 0%,
        rgba(255, 255, 255, 0.95) 100%
      ),
      radial-gradient(
        88.28% 397.54% at 104.14% 213.75%,
        #64688a 0%,
        #2d315e 100%
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .fonts-input {
    @apply font-kreon text-sm xl:text-base;
  }

  .fonts-button {
    @apply font-kreon text-sm xl:text-base;
  }

  .fonts-desc {
    @apply text-xs font-normal;
  }
}

/* COMPONENT WIDTH, ROUND  */
@layer utilites {
  .logoImgSize {
    @apply h-fit w-8 sm:w-9 lg:w-10;
  }

  .formInputSize {
    @apply h-[35px] w-full lg:h-[30px] xl:h-[40px];
  }

  .indicatorSize {
    @apply size-9 sm:size-12 lg:size-10;
  }

  .defaultButtonSize {
    @apply h-[35px] 
    w-[105px] rounded-lg
    sm:h-[40px] sm:w-[150px];
  }

  .authButtonSize {
    @apply defaultButtonSize 
    w-full sm:h-[40px]
    sm:w-[140px] lg:h-[40px]
    lg:w-[120px] xl:h-[40px]
    xl:w-[150px];
  }

  .authPanelSize {
    @apply min-h-full w-full rounded-2xl !px-9 !py-5
     max-lg:max-w-[500px]
     max-sm:max-w-[400px]
     max-sm:!px-6
    sm:w-[70%] lg:w-[330px] xl:w-[402.5px] 2xl:w-[420px];
  }

  .authFormInputSize {
    @apply gap-3 xl:gap-5 2xl:gap-7;
  }
}

/* COMPONENTS */
@layer components {
  .defaultSvg {
    @apply relative bg-cover bg-no-repeat;
  }
  .defaultButton {
    @apply defaultButtonSize defaultSvg fonts-button flex-center transition-all duration-100 hover:scale-95 hover:brightness-90;
  }
  .gradientPanel {
    @apply bg-no-repeat shadow-2xl backdrop-blur-[30px];
  }
}

/* GLOW */
@layer components {
  .glowButtonNews,
  .glowButtonAuth,
  .glowButtonAuthFinish,
  .glowIndicator {
    @apply absolute left-0 top-0 -z-10 h-full w-full opacity-75 blur-lg max-xl:hidden;
  }

  .glowButtonNews {
    background: radial-gradient(
      88.28% 397.54% at 104.14% 213.75%,
      #64688a 0%,
      #2d315e 100%
    );
  }

  .glowButtonAuth {
    background: radial-gradient(
      88.28% 397.54% at 104.14% 213.75%,
      #545879 0%,
      #21244b 100%
    );
  }

  .glowButtonAuthFinish {
    background: radial-gradient(
      98.14% 482.97% at 114% 343.75%,
      #4a4d69 0%,
      #1a1d3c 100%
    );
  }

  .glowIndicator {
    @apply rounded-full;
    background: radial-gradient(
      88.28% 397.54% at 104.14% 213.75%,
      #545879 0%,
      #21244b 100%
    );
  }
}

/* OTHER (TABLE) */
@layer utilities {
  .tableCell {
    @apply lowercase line-clamp-2 break-words max-w-28;
  }
}

/* FLEX */
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

/* SHADCN-UI LIBRARY */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
